.header_logo{
    width: 100px;
}

.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: static;
    top:0;
    z-index: 100;
    padding: 0 20px;
}
.header_bottom{
    background-color: #232f3e;
}
.header_bottom ul{
    list-style:none ;
    padding: 5px 30px 10px 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header_bottom ul li{
    margin-right: 20px;
    color: #fff;
    font-weight: 500;
}
.header_search{
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    margin-left:10px ;

}
.header_search input{
    width: 80%;
    height: 20px;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

.header_search p img{
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_basket img{
    width: 50px;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}
.header_one{
    font-size: 10px;
    color: #fff;
}
.header_two{
    display: block;
    color: #fff;

    font-size: 13px;
}

.icon{
    color: #fff;
    background-color: #fff;
}

